.table-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 0 auto;
  font-size: smaller;
}

/* Style the table */
table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

thead {
  font-size: small;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Action buttons container */
.action-buttons {
  display: flex;
  gap: 5px;
  text-align: center;
  justify-content: center;
}

.action-buttons button, .action-buttons a {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 0.8em;
}

.action-buttons button:hover, .action-buttons a:hover {
  color: #726FE4;
}

/* Add button */
.add-button {
  display: block;
  width: 120px;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  background-color: #726FE4;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.add-button:hover {
  background-color: #4643D3;
}
