<h2>Employee List</h2>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.position }}</td>
        <td>
          <div class="action-buttons">
            <button (click)="deleteEmployee(employee.id)">
              <i class="fas fa-trash"></i>
            </button>
            <a [routerLink]="['/edit', employee.id]">
              <i class="fas fa-edit"></i>
            </a>
            <a [routerLink]="['/employee', employee.id]">
              <i class="fas fa-eye"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/add" class="add-button"><i class="fa-regular fa-plus"></i> Add Employee</a>
</div>
