  form {
    width: 300px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 5px;
    background-color: #fff;
    font-size: smaller;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }

  input:focus {
    border-color: #726FE4;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #726FE4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  button:hover {
    background-color: #4643D3;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: #4643D3;
  }
  